.chroma {
  color: #fafafa;
  background-color: #fafafa00;
}
.chroma .err {
  color: #f85149;
}
.chroma .lntd {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.chroma .lntable {
  width: auto;
  border: 0;
  margin: 0;
  display: block;
  padding: 0;
  overflow: auto;
  border-spacing: 0;
}
.chroma .hl {
  width: 100%;
  display: block;
  background-color: rgba(110,118,129,0.1);
}
.chroma .lnt {
  color: #6e7681;
  padding: 0 0.4em 0 0.4em;
  font-size: 0.875rem;
  margin-right: 0.4em;
}
.chroma .ln {
  color: #6e7681;
  padding: 0 0.4em 0 0.4em;
  margin-right: 0.4em;
}
.chroma .k {
  color: #f97583;
}
.chroma .kc {
  color: #79b8ff;
}
.chroma .kp {
  color: #79b8ff;
}
.chroma .kd {
  color: #f97583;
}
.chroma .kn {
  color: #f97583;
}
.chroma .kr {
  color: #f97583;
}
.chroma .kt {
  color: #f97583;
}
.chroma .n {
  color: #1d1d1d;
}
.chroma .nc {
  color: #ffab70;
  font-weight: bold;
}
.chroma .no {
  color: #79b8ff;
  font-weight: bold;
}
.chroma .nd {
  color: #b392f0;
  font-weight: bold;
}
.chroma .ni {
  color: #ffab70;
}
.chroma .ne {
  color: #ffab70;
  font-weight: bold;
}
.chroma .nf {
  color: #b392f0;
  font-weight: bold;
}
.chroma .fm {
  color: #b392f0;
  font-weight: bold;
}
.chroma .nl {
  color: #79b8ff;
  font-weight: bold;
}
.chroma .nn {
  color: #f97583;
}
.chroma .py {
  color: #79b8ff;
}
.chroma .nt {
  color: #85e89d;
}
.chroma .nv {
  color: #79b8ff;
}
.chroma .vc {
  color: #79b8ff;
}
.chroma .vg {
  color: #79b8ff;
}
.chroma .vi {
  color: #79b8ff;
}
.chroma .vm {
  color: #79b8ff;
}
.chroma .l {
  color: #9ecbff;
}
.chroma .ld {
  color: #79b8ff;
}
.chroma .sa {
  color: #79b8ff;
}
.chroma .dl {
  color: #79b8ff;
}
.chroma .se {
  color: #79b8ff;
}
.chroma .sh {
  color: #79b8ff;
}
.chroma .sr {
  color: #79b8ff;
}
.chroma .s {
  color: #9ecbff;
}
.chroma .s2 {
  color: #9ecbff;
}
.chroma .s1 {
  color: #9ecbff;
}
.chroma .sb {
  color: #9ecbff;
}
.chroma .sc {
  color: #9ecbff;
}
.chroma .sd {
  color: #9ecbff;
}
.chroma .si {
  color: #9ecbff;
}
.chroma .sx {
  color: #9ecbff;
}
.chroma .ss {
  color: #9ecbff;
}
.chroma .m {
  color: #9ecbff;
}
.chroma .mb {
  color: #9ecbff;
}
.chroma .mf {
  color: #9ecbff;
}
.chroma .mh {
  color: #9ecbff;
}
.chroma .mi {
  color: #9ecbff;
}
.chroma .il {
  color: #9ecbff;
}
.chroma .mo {
  color: #9ecbff;
}
.chroma .o {
  color: #f97583;
  font-weight: bold;
}
.chroma .ow {
  color: #58a6ff;
  font-weight: bold;
}
.chroma .c {
  color: #8b949e;
  font-style: italic;
}
.chroma .cpf {
  color: #8b949e;
  font-weight: bold;
}
.chroma .cs {
  color: #8b949e;
  font-style: italic;
  font-weight: bold;
}
.chroma .ch {
  color: #8b949e;
  font-style: italic;
}
.chroma .cm {
  color: #8b949e;
  font-style: italic;
}
.chroma .c1 {
  color: #8b949e;
  font-style: italic;
}
.chroma .g {
  color: #292929;
}
.chroma .gd {
  color: #ffa198;
  background-color: #490202;
}
.chroma .ge {
  font-style: italic;
}
.chroma .gr {
  color: #ffa198;
}
.chroma .gh {
  color: #79b8ff;
  font-weight: bold;
}
.chroma .gi {
  color: #56d364;
  background-color: #0f5323;
}
.chroma .go {
  color: #8b949e;
}
.chroma .gp {
  color: #8b949e;
}
.chroma .gs {
  font-weight: bold;
}
.chroma .gu {
  color: #79b8ff;
}
.chroma .gt {
  color: #f97583;
}
.chroma .gl {
  text-decoration: underline;
}
.chroma .w {
  color: #6e7681;
}
.chroma .x {
  color: #292929;
}